*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(204, 0, 170);
}
.wrapper{
    position: relative;
    height: 200px;
    max-height: 100%;
    width: 300px;
    max-width: 100%;
    background-color: white;
    border-radius: 12px;
    padding:30px 25px;
    box-shadow: 0px 5px 10px black;
}

.wrapper .password-box{
    position: relative;
    height: 50px;
}

.password-box input{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 0 45px 0 15px;
    border: 1px solid rgb(186, 186, 186);
    background-color: transparent;
}

.password-box img{
    width: 25px;
    position:absolute;
    color:  rgb(186, 186, 186);
    left: 210px;
    top: 10px;
    cursor: pointer;
}

.wrapper .range-box{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.range-box input{
    width: 100%;
    height: 10px;
    padding: 0;
    accent-color:rgb(204, 0, 170);
    cursor: pointer;
}

.range-box .slider-number{
    min-width: 30px;
    text-align: right;
    font-size: 20px;
    color: rgb(154, 154, 154);
}

.wrapper .generate-button{
    width: 100%;
    padding: 12px 0;
    margin-top: 20px;
    color: white;
    background:rgb(246, 2, 205) ;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.generate-button:hover{
    background-color: rgb(204, 0, 170);
}
